# Compiled Python bytecode
*.py[cod]

# build
build/
dist/
*.egg-info/
.vscode/
*.code-workspace

# tests
test_runs/
eval_runs/
test_bindings/
debug_runs/
grid_test/
#sample_airfoils/
render_test/

# data
/data/

# Log files
*.log
